<h1>Anagrams Finder</h1>

<form action="/results" method="get">
  <div class="form-group">
    <label for="input">Enter a word</label>
    <input class="form-control" type="text" name="input" id="input">
    <label for="list">Enter a list or possible anagrams</label>
    <input placeholder="Use a comma after each word" class="form-control" type="text" name="list" id="list">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
