<h1>Allergy Finder</h1>

<form action="/results" method="get">
  <div class="form-group">
    <label for="input">Enter your allergy score</label>
    <input class="form-control" type="number" name="input" id="input">

  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
